/* --- Tite --- */
#banner-title {
    height: 40vh;
    top: 9vh;
    position: relative;
}

.title {
    margin-left: 20px;
    padding-right: 10%;
    top: 40%;
    color: #252525;
    font-weight: 700;
    cursor: default;
    border-radius: 0 30px 30px 0;
}

.title-container {
    transition-duration: 300ms;
    z-index: -1;
    height: 100%;
    display: flex;
    align-items: center;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(40px) contrast(90%) brightness(150%);
    backdrop-filter: blur(40px) contrast(90%) brightness(150%);
    border-radius: 0 30px 30px 0;
    max-height: 50%;
    padding: 3vh 0;
}

/* Line */
.line-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.line-short {
    text-align: right;
    justify-content: right;
    width: 35px;
    border: 4px solid #002938;
    background: #002938;
    border-radius: 10px;
    margin-top: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.line-long {
    align-items: center;
    width: 130px;
    border: 4px solid #002938;
    background: #002938;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

/* Sections */

.col-md-12,
.col-lg-6 {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Contact Section */
.contact-info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.contact-element {
    display: flex;
    justify-content: left;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
}

.contact-element-title {
    color: #002938;
    margin-right: 2%;
}

.contact-element-description {
    font-weight: bold;
    color: black;
}

.contact-element:nth-child(2) .contact-element-description:hover,
.contact-element:nth-child(3) .contact-element-description:hover,
.contact-element:nth-child(4) .contact-element-description:hover {
    text-decoration: underline;
    color: black;
}

.contact-element span {
    cursor: default;
}

.image-contact {
    width: 90%;
    border-radius: 50%;
    transition: all 0.6s ease-out;
    margin: auto;
    width: 20vh;
}

/* Map Section */
.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    border-radius: 30px;
    width: 100%;
    margin: 50px;
}

/* --- Media Queries ---- */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .symbol {
        max-width: 90%;
    }

    .title-box {
        width: 100%;
        border-radius: 0;
    }

    .title {
        font-size: 30px;
        padding-left: 0%;
        border-radius: 0;
    }

    .resource-category-title,
    .about-subtitle {
        font-size: 25px;
    }

    .image-contact {
        margin-top: 30px;
    }

    .contact-element {
        flex-direction: column;
        font-size: .9rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .title-box {
        width: 75%;
        border-radius: 0 30px 30px 0;
    }

    .title {
        font-size: 30px;
        padding-left: 0%;
        border-radius: 0 30px 30px 0;
    }

    .aboutName {
        font-size: 45px;
    }

    .contact-element {

        flex-direction: column;
    }

    .image-contact {
        margin-top: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .title {
        font-size: 35px;
        padding-left: 30%;
    }

    .title-box {
        width: 50%;
    }

    .contact-element {
        display: flex;
        flex-direction: row;
    }

    .image-contact {
        margin-top: 0px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .title {
        font-size: 35px;
    }
}