/* General */
html * {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5;
}

p {
    margin: 0;
}

#main {
    width: 85.72%;
}

/* Show/Hide Elements */
.elements-hide {
    transition: 0.5s;
    opacity: 0;
}

.elements-visible {
    transition: 0.5s;
    opacity: 1;
}

/* Gradient */
#gradient-canvas {
    position: fixed;
    height: 100vh;
    width: 100%;
    --gradient-color-1: #9ae1f0;
    --gradient-color-2: #cbdfeb;
    --gradient-color-3: #007f98;
    --gradient-color-4: #00d5f3;
    z-index: -2;
}

/* Menu Overlay */
.overlay {
    -webkit-backdrop-filter: blur(40px) contrast(90%);
    backdrop-filter: blur(40px) contrast(90%);
    position: fixed;
    padding: 0 1rem 1rem;
    height: 100%;
    width: 100%;
    right: 0%;
    z-index: 2;
    opacity: 0;
    transition: .5s;
}

.overlay-container {
    position: fixed;
    padding: 0 1rem 1rem;
    width: 85.68%;
    right: -100%;
    height: 100%;
    background-color: rgba(0, 127, 152, 0.75);
    border-radius: 4vh 0 0 4vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    z-index: 6;
    transition: right .4s ease-in-out;
}

/* Position the content inside the overlay */
.overlay-content {
    height: 100%;
    overflow-y: scroll;
    right: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.overlay-buttons {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-inline-start: 20px;
}

/* The navigation links inside the overlay */
.overlay-link {
    padding: 8px;
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
    font-size: 40px;
    max-width: 0;
}

.overlay-link:hover,
.overlay-link:focus,
.close-btn:hover,
.close-btn:focus {
    color: #255760;
}

/* Position the close button (top left corner) */
.close-btn-background {
    position: absolute;
    top: 1rem;
    left: -15.5%;
    color: #f5f5f5;
    width: 3rem;
    height: 3rem;
    padding: .6rem;
    border-radius: 50%;
    background-color: rgb(0, 127, 152);
    font-size: 2.7rem;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.close-btn-background:hover {
    background-color: whitesmoke;
    transition: .4s;
}

.close-btn-background:hover>.close-btn {
    color: #255760;
    transition: .4s;
}

.close-btn {
    color: whitesmoke;
}

.church-logo {
    width: 4rem;
    padding: 1em 0 2em 0;
}

.overlay-p {
    color: whitesmoke;
    font-size: 1.2rem;
    cursor: default;
}

/* Sabbath Column */
.sabbath-column {
    position: fixed;
    /* height: calc(100vh - calc(100vh - 100%)); */
    height: 100vh;
    right: 0;
    width: 14.28%;
    background-image: linear-gradient(-45deg, #255760 0%, #00d5fe 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.sabbath-column:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #00d5fe 0%, #255760 100%);
    z-index: -1;
    transition: 0.3s linear;
    opacity: 0;
}

.sabbath-column:hover:before {
    opacity: 1;
    cursor: pointer;
}

#navbar {
    transition: .5s;
}

#mobile-navbar-button {
    transition: .5s;
}

/* --- Navbar --- */
#navbar-bar {
    display: flex;
    position: fixed;
    top: 2em;
    flex-wrap: nowrap;
    z-index: 5;
    transition: .4s;
}

.my-menu {
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 84%
}

.desktop-nav {
    position: absolute;
    right: 4%;
}

.my-nav .navbar-brand .brand-name {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    color: #252525;
}

.navbar-nav.desktop-nav .link-list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.my-nav .navbar-nav .nav-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.navbar-button {
    font-size: 1.2rem;
    font-weight: 700;
    color: #252525;
    display: flex;
    justify-content: left;
    transition: .4s;
    display: flex;
    align-items: center;
    margin: 0 2%;
    border-radius: 15px;
    padding: 4px 6px;
}

.navbar-button:hover {
    color: #f5f5f5;
    background-color: #002938;
    border-radius: 15px;
    transition: .4s;
}

.navbar-button span {
    display: flex;
    align-items: center;
    padding: .5rem;

}

.navbar-toggler {
    position: absolute;
    right: 4%;
}

/* Mobile Navbar */
.mobile-navbar-button {
    border: 3pt solid #002938;
    color: #002938;
    height: 60px;
    width: 60px;
    background: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-navbar-button:hover {
    color: whitesmoke !important;
    background-color: #002938;
    border-color: whitesmoke;
    border-radius: 50px;
}

i.bi.bi-list {
    font-size: 1.8em;
}

/* Church Name */
.church-name-logo {
    width: 35vh;
    z-index: 5;
    object-fit: cover;
}

/* --- Footer --- */
footer {
    display: flex;
    background-color: #f5f5f5;
    text-align: initial;
    color: #f5f5f5;
    justify-content: center;
    padding-bottom: 25px !important;
}

.footer-bg {
    background-color: #002938;
    width: 97%;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.65);
}

footer .col-bg-6,
footer .col-md-12 {
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 14.28%;
}

/* --- Social Media Buttons --- */
.social-media {
    display: block;
    padding: 20px 0px 20px 0px;
}

.social-media-button {
    display: flex;
    justify-content: left;
    font-size: 18px;
}

.social-media-button .social-media-icon {
    display: flex;
    align-items: center;
}

.social-media-button span {
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.social-media-icon {
    margin-right: 15px;
    font-size: 25px;
}

.icon-email {
    color: #f5f5f5;
}

.icon-facebook {
    color: #4267B2;
}

.icon-instagram h3 {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8px;
}

.icon-instagram i:before {
    display: inline;
}

.social-media-button span:hover {
    text-decoration: underline;
}

/* Useful Links */
.useful-links-button {
    display: flex;
    color: #f5f5f5;
    font-size: 18px;
}

.useful-links-button:hover {
    text-decoration: underline;
}

.useful-links-icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 8px;
}


/* --- Copyright --- */
.copyright {
    display: flex;
    cursor: pointer;
    text-decoration: #f5f5f5;
    color: #f5f5f5;
    margin: 0% 0% 1% 1%;
    font-size: 10px;
}

.copyright:hover {
    text-decoration: underline;
}

/* Scroll Up Button */
.scroll-to-top-btn {
    display: inline-block;
    position: fixed;
    border: none;
    color: #f5f5f5;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #002938;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 50px;
    right: 1.5%;
    z-index: 100;
    opacity: 0;
    transform: translateY(150px);
    transition: all .5s ease;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.65);
}

.scroll-to-top-btn:hover {
    opacity: 1;
}

i.bi.bi-chevron-bar-up {
    font-size: 1.8em;
}

.show-btn {
    opacity: 0.75;
    transform: translateY(0px);
}

.scroll-to-top-btn:focus {
    outline: none;
}

/* --- Media Queries ---- */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .symbol {
        max-width: 90%;
    }

    .desktop-nav {
        visibility: hidden;
    }

    .my-nav .navbar-brand {
        padding-left: 0%;
    }

    .banner-button {
        font-size: 25px;
    }

    .overlay-link {
        font-size: 30px
    }

    .overlay-p {
        font-size: .7rem;
    }

    .copyright {
        font-size: 12px;
    }

    .church-name-logo {
        width: 23vh;

    }

    .desktop-navbar {
        visibility: hidden;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 2.2em;
    }

    .copyright {
        text-align: center;
        justify-content: center;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .desktop-nav {
        visibility: hidden;
    }

    .my-nav .navbar-brand {
        padding-left: 0%;
    }

    .symbol {
        max-width: 70%;
    }

    .banner-button {
        font-size: 30px;
    }

    .banner {
        background-attachment: scroll;
    }

    .navbar-toggler {
        visibility: visible;
    }

    .desktop-nav {
        visibility: hidden;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 2.2em;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        text-align: initial;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 6.5em;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .my-nav .navbar-brand {
        padding-left: 15%;
    }

    .church-name-logo {
        left: 13%;
    }

    .social-media-button {
        justify-content: left;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: left;
        justify-content: left;
        padding-left: 14.28%;
    }

    .useful-links-button {
        padding-bottom: 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .symbol {
        max-width: 40%;
    }

    .navbar-toggler {
        visibility: hidden;
    }

    .desktop-nav {
        visibility: visible;
    }
}