/* General */
html * {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5;
}

p {
    margin: 0;
}

#main {
    width: 85.72%;
}

/* Show/Hide Elements */
.elements-hide {
    transition: 0.5s;
    opacity: 0;
}

.elements-visible {
    transition: 0.5s;
    opacity: 1;
}

/* Gradient */
#gradient-canvas {
    position: fixed;
    height: 100vh;
    width: 100%;
    --gradient-color-1: #9ae1f0;
    --gradient-color-2: #cbdfeb;
    --gradient-color-3: #007f98;
    --gradient-color-4: #00d5f3;
    z-index: -2;
}

/* Add blur */
.blur-filter {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    filter: blur(20px);
}

.no-blur-filter {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    filter: none;
}

/* Menu Overlay */
.overlay {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 6;
    padding: 0 1rem 1rem;
    width: 85.68%;
    height: 100%;
    background-color: rgba(0, 127, 152, 0.75);
    border-radius: 4vh 0 0 4vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    transition: right .4s ease-in-out;
}

/* Position the content inside the overlay */
.overlay-content {
    height: 100%;
    overflow-y: scroll;
    right: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-buttons {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-inline-start: 20px;
}

/* The navigation links inside the overlay */
.overlay-link {
    padding: 8px;
    text-decoration: none;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
    font-size: 40px
}

.overlay-link:hover,
.overlay-link:focus,
.close-btn:hover,
.close-btn:focus {
    color: #255760;
}


/* Position the close button (top left corner) */
.close-btn-background {
    position: absolute;
    top: 1rem;
    left: -15.5%;
    color: #f5f5f5;
    width: 3rem;
    height: 3rem;
    padding: .6rem;
    border-radius: 50%;
    background-color: rgb(0, 127, 152);
    font-size: 2.7rem;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.close-btn-background:hover {
    background-color: whitesmoke;
    transition: .4s;
}

.close-btn-background:hover>.close-btn {
    color: #255760;
    transition: .4s;
}

.close-btn {
    color: whitesmoke;
}

.church-logo {
    width: 4rem;
    padding: 1em 0 2em 0;
}

.overlay-p {
    color: whitesmoke;
    font-size: 1.2rem;
    cursor: default;
}

/* Sabbath Column */
.sabbath-column {
    position: fixed;
    /* height: calc(100vh - calc(100vh - 100%)); */
    height: 100vh;
    right: 0;
    width: 14.28%;
    background-image: linear-gradient(-45deg, #255760 0%, #00d5fe 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.sabbath-column:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #00d5fe 0%, #255760 100%);
    z-index: -1;
    transition: 0.3s linear;
    opacity: 0;
}

.sabbath-column:hover:before {
    opacity: 1;
    cursor: pointer;
}

#navbar {
    transition: .5s;
}

#mobile-navbar-button {
    transition: .5s;
}

/* --- Tite --- */
#banner-title {
    height: 105vh;
}

.title {
    margin-left: 20px;
    padding-right: 10%;
    top: 40%;
    color: #252525;
    font-weight: 700;
    cursor: default;
    border-radius: 0 30px 30px 0;
    padding-bottom: 4vh;
}

.title-container {
    transition-duration: 300ms;
    z-index: -1;
    height: 100%;
    display: flex;
    align-items: center;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 30px 30px 0;
    max-height: 50%;
    padding: 5vh 0;
}

.title-button {
    font-size: 1.2rem;
    font-weight: 700;
    color: #252525;
    display: flex;
    justify-content: left;
    transition: .4s;
    border-radius: 50px;
    background-color: whitesmoke;
    border: 3pt solid #002938;
}

.title-button-container {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    margin-left: 30%;
    transition: .4s;
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 50px;
}

.title-button:hover {
    color: #f5f5f5;
    background-color: #002938;
    border-color: whitesmoke;
    border-radius: 50px;
    transition: .4s;
}

.title-button span {
    display: flex;
    align-items: center;
    padding: .5rem;
}

/* --- Navbar --- */

/* Church Name */
.church-name-logo {
    position: absolute;
    display: flex;
    width: 40vh;
    z-index: 5;
    padding-top: .75vh;
    top: 0px;
}

.navbar-box {
    z-index: 5;
    background-color: whitesmoke;
    font-family: sans-serif;
    border-radius: 0 30px 30px 0;
    width: 83%;
    height: 16vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 13px;
    transition: all .6s ease;
}

.navbar-container {
    display: contents !important;
}

.navbar-button {
    font-size: 1.2rem;
    font-weight: 700;
    color: #252525;
    display: flex;
    justify-content: left;
    transition: .4s;
    display: flex;
    align-items: center;
    margin: 0 2%;
    border-radius: 15px;
    padding: 0 2%;
}

.navbar-button-container {
    right: 25%;
    transition: .4s;
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 50px;
    position: fixed;
    display: flex;
}

.navbar-button:hover {
    color: #f5f5f5;
    background-color: #002938;
    border-radius: 15px;
    transition: .4s;
}

.navbar-button span {
    display: flex;
    align-items: center;
    padding: .5rem;
}

/* Mobile Navbar */

.mobile-navbar-button {
    border: 3pt solid #002938;
    color: #002938;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    top: 3.5vh;
    right: 20%;
    z-index: 6;
}

.mobile-navbar-container {
    /* padding: .25rem .75rem; */
    /* position: fixed; */
    /* padding-right: 18%; */
    transition: box-shadow .15s ease-in-out;
    z-index: 6;
}

.mobile-navbar-button:hover {
    color: whitesmoke;
    background-color: #002938;
    border-color: whitesmoke;
}

i.bi.bi-list {
    font-size: 1.8em;
}

/* Line */
.line-container {
    display: flex;
    justify-content: center;
}

.line-short {
    text-align: right;
    justify-content: right;
    width: 45px;
    border: 4px solid #002938;
    background: #002938;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.line-long {
    align-items: center;
    width: 130px;
    border: 4px solid #002938;
    background: #002938;
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

/* --- Sections --- */
.all-sections {
    margin: auto;
    color: #252525;
    background: #f5f5f5;
    border: 50px solid #f5f5f5;
}

.resources-title h3,
.about-title h3,
.portofolioTitle h3,
.projectsTitle h3,
.contactTitle h3 {
    text-align: center;
    overflow: visible;
    padding: 8px;
    color: #f5f5f5;
    font-size: 30px;
    font-weight: 300;
    cursor: default;
    background-color: #002938;
    border-radius: 50px;
    width: 6em;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 75px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.col-md-12,
.col-lg-6 {
    display: grid;
    align-items: center;
    justify-content: center;
}

.about-subtitle,
.resource-category-title {
    overflow-wrap: break-word;
    text-align: center;
    margin: 40px 0 20px 0;
    line-height: 40px;
    word-break: keep-all;
    font-weight: 300;
    font-size: 45px;
}

/* About Section */
.about p:nth-child(2) {
    text-indent: 1.5rem;
    font-size: 15px;
    line-height: 25px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: left;
    margin: 20px 0 20px 0;
}

.image-about {
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

/* Resources Section */
.resource-download-button {
    padding: 3%;
    color: #252525;
    display: flex;
    justify-content: left;
    transition: .4s;
    border: 3pt solid #002938;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.resource-download-button:hover {
    color: #f5f5f5;
    transition: .4s;
}

.resource-download-button .resource-download-icon {
    display: flex;
    align-items: center;
}

.resource-download-button span {
    display: flex;
    align-items: center;
}

.resource-download-bg {
    border-radius: 15px;
    margin: 10px 0 10px 0;
    transition: .4s;
}

.resource-download-button:hover {
    background-color: #002938;
    transition: .4s;
    border: 3pt solid #f5f5f5;
}

.resource-download-icon {
    margin-right: 15px;
    font-size: 25px;
}

/* Contact Section */
.contact p {
    font-size: 15px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
    margin: auto;
    width: 75%;
}

.contactLinks {
    cursor: pointer;
    text-decoration: #f5f5f5;
    color: #f5f5f5;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.contactLinks:hover {
    text-decoration: underline;
}

/* --- Footer --- */
footer {
    display: flex;
    background-color: #f5f5f5;
    text-align: initial;
    color: #f5f5f5;
    justify-content: center;
    padding-bottom: 25px !important;
}

.footer-bg {
    background-color: #002938;
    width: 97%;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.65);
}

footer .col-bg-6,
footer .col-md-12 {
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 14.28%;
}

/* --- Social Media Buttons --- */
.social-media {
    display: block;
    padding: 20px 0px 20px 0px;
}

.social-media-button {
    display: flex;
    justify-content: left;
    font-size: 18px;
}

.social-media-button .social-media-icon {
    display: flex;
    align-items: center;
}

.social-media-button span {
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.social-media-icon {
    margin-right: 15px;
    font-size: 25px;
}

.icon-email {
    color: #f5f5f5;
}

.icon-facebook {
    color: #4267B2;
}

.icon-instagram h3 {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8px;
}

.icon-instagram i:before {
    display: inline;
}

.social-media-button span:hover {
    text-decoration: underline;
}

/* Useful Links */
.useful-links-button {
    display: flex;
    color: #f5f5f5;
    font-size: 18px;
}

.useful-links-button:hover {
    text-decoration: underline;
}

.useful-links-icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 8px;
}


/* --- Copyright --- */
.copyright {
    display: flex;
    cursor: pointer;
    text-decoration: #f5f5f5;
    color: #f5f5f5;
    margin: 0% 0% 1% 1%;
    font-size: 10px;
}

.copyright:hover {
    text-decoration: underline;
}

/* Scroll Up Button */
.scroll-to-top-btn {
    display: inline-block;
    position: fixed;
    border: none;
    color: #f5f5f5;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #002938;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 50px;
    right: 1.5%;
    z-index: 100;
    opacity: 0;
    transform: translateY(150px);
    transition: all .5s ease;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.65);
}

.scroll-to-top-btn:hover {
    opacity: 1;
}

i.bi.bi-chevron-bar-up {
    font-size: 1.8em;
}

.show-btn {
    opacity: 0.75;
    transform: translateY(0px);
}

.scroll-to-top-btn:focus {
    outline: none;
}

/* --- Media Queries ---- */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .symbol {
        max-width: 90%;
    }

    .title-box {
        width: 100%;
        border-radius: 0;
    }

    .title {
        font-size: 30px;
        padding-left: 0%;
        border-radius: 0;
    }

    .title-button-container {
        margin-left: 4%;
    }



    .banner-button {
        font-size: 25px;
    }

    .overlay-link {
        font-size: 30px
    }

    .overlay-p {
        font-size: .7rem;
    }

    .copyright {
        font-size: 12px;
    }

    .all-sections {
        border-radius: 0;
        border: 20px solid #f5f5f5;
    }

    .resource-category-title,
    .about-subtitle {
        font-size: 25px;
    }

    .church-name-logo {
        width: 80%;
        left: 0%;
    }

    .navbar-button-container {
        visibility: hidden;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 2.2em;
    }

    .copyright {
        text-align: center;
        justify-content: center;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .title-box {
        width: 75%;
        border-radius: 0 30px 30px 0;
    }

    .title {
        font-size: 30px;
        padding-left: 0%;
        border-radius: 0 30px 30px 0;
    }

    .title-button-container {
        margin-left: 4%;
    }

    .church-name-logo {
        left: 1%;
        width: 40vh;
    }

    .symbol {
        max-width: 70%;
    }

    .banner-button {
        font-size: 30px;
    }

    .all-sections {
        border-radius: 0;
    }

    .aboutName {
        font-size: 45px;
    }

    .banner {
        background-attachment: scroll;
    }

    .mobile-navbar-button {
        visibility: visible;
    }

    .navbar-button-container {
        visibility: hidden;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 2.2em;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        text-align: initial;
    }

    .all-sections {
        border-radius: 40px 40px 0 0;
    }

    .banner-wrapper .banner-button:nth-child(1):hover {
        width: 6.5em;
    }

    .social-media-button {
        justify-content: center;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .useful-links-button {
        padding-bottom: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .title {
        font-size: 35px;
        padding-left: 30%;
    }

    .title-button-container {
        margin-left: 32%;
    }

    .title-box {
        width: 50%;
    }

    .church-name-logo {
        left: 13%;
    }

    .social-media-button {
        justify-content: left;
    }

    footer .col-bg-6,
    footer .col-md-12 {
        display: grid;
        align-items: left;
        justify-content: left;
        padding-left: 14.28%;
    }

    .useful-links-button {
        padding-bottom: 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .title {
        font-size: 35px;
    }

    .symbol {
        max-width: 40%;
    }

    .mobile-navbar-button {
        visibility: hidden;
    }

    .navbar-button-container {
        visibility: visible;
    }
}